*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Public Sans";
}

#current a{
    color: rgb(47, 182, 178);
}

.banner{
    background-color:white;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top:0;
    text-align: right;
    z-index: 2;
}
.banner h3{
    margin-left: 20px;
    font-family: "Petit Formal Script", serif;
}

.banner li{
    display: inline-block;
    padding: 4px 20px;
    font-size: 16px;
    font-family: "Public Sans", sans-serif;
    text-transform: uppercase;
}
.banner a{
    color: #161616;
    text-decoration: none;
}

.banner img{
    width: 20px;
    height: 16px;
    position: relative;
    top: 2px;
    right: 25px;
}

.uk{
    position: relative;
    right: -15px
}

.banner a:hover{
    color: rgb(47, 182, 178);
    transition: color .1s ease-in;
}

.alignleft{
    float: left;
}

.alignright{
    float: right;
}

#heading {
    position: relative;
    background-image: url("../../resources/images/typing3.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% 40%;
    text-align: center;
    height: 550px;
    padding-top: 25px;
    margin-top: 50px;
}
#heading:before {
    background-color: rgba(47, 182, 178, 0.8);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#heading * {
    position: relative; /* Makes elements display above overlay. */
}

h1 {
    padding-top: 30px;
    font-family: "Petit Formal Script", sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 600;
}

#heading h3 {
    font-family: "Frank Ruhl Libre", serif;
    color: white;
    font-size: 75px;
    font-weight: 300;
    line-height: 0.5;
}

.about-me {
    color: #161616;
    background-color: #f0f0ee;
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
}
.about-me h2{
    font-size: 55px;
    font-weight: 450;
    font-family: "Frank Ruhl Libre", serif;
}

.about-me p{
    font-size: 20px;
}
.about-me a{
    color:rgb(47, 182, 178);
    text-decoration: none;
    font-weight: bold;
}

.about-me a:hover{
    color: #161616;
}

.about-me h3{
    margin-top: 60px;
    font-size: 25px;
}
.about-me h3 a{
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px;
    color: black;
}

.about-me h3 a:hover{
    background-color:rgba(47, 182, 178, 0.8);
    cursor: pointer;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
    color: white;
    border-color: white;
}

.trust{
    background-color: #161616;
    color: white;
    padding-top: 7px;
    padding-bottom: 40px;
    text-align: center;
}

.trust h2{
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 350;
    font-size: 45px;
}

.trust span{
    color:rgb(47, 182, 178);
}

.trust p{
    font-size: 20px;
    font-weight: 350;
}
.quote {
    text-align: center;
    background-color: #f0f0ee;
    padding-top: 5px;
    padding-bottom: 40px;
}

.quote h3{
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 350;
    font-size: 45px;
}

.quote p{
    font-size: 20px;
    font-weight: 350;
    padding-bottom: 10px;
}

.quote em{
    font-weight: 250;
}

.quote a{
    color:rgb(47, 182, 178);
    text-decoration: none;
    font-weight: bold;
}

.quote a:hover{
    color: #161616;
}

footer{
    color: #161616;
    background-color: rgb(47, 182, 178);
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;

}

footer ul{
    display: inline-block;
    list-style: none;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 35px;
    line-height: 1.3;
    position: relative;
    right: 125px;
}

footer h3{
    font-family: "Frank Ruhl Libre", serif;
    font-size: 25px;
    font-weight: 450;
}

.menu{
    position: relative;
    top: 23px;
    margin-left: 42px;
    border-left: 1px solid #f0f0ee;
}

footer a{
    text-decoration: none;
    color: #f0f0ee;
}

footer a:hover{
    color: rgb(132, 225, 222);
}

footer p{
    font-family: "Frank Ruhl Libre", serif;
    font-size: 16px;
    font-weight: 450; 
}